---
---

@import "{{ site.theme }}";

body {
  color:#373737;
  background: #cccccc;
}

#header_wrap {
  background: center / cover url(../images/header-bg.png);
  border-bottom: solid 1px #212121;
}

#footer_wrap {
  background: #cccccc;
}
