---
---

@import "{{ site.theme }}";

body {
  background: #E5E5E5;
}

#header_wrap {
  background: center / cover url(../images/header-bg.jpg);
  border-bottom: solid 1px #212121;
}

#footer_wrap {
  background: #E5E5E5;
}
