---
---

@import "{{ site.theme }}";

body {
  color:#373737;
  background: #cccccc;
}

#header_wrap {
  background: url(../images/header-bg.png) 0 0 cover;
  border-bottom: solid 1px #212121;
}

#footer_wrap {
  background: #cccccc;
}
