---
---

@import "{{ site.theme }}";

body {
  background: #E5E5E5;
}

img.logo {
  height: 150px;
  margin-top: -40px;
  margin-bottom: -30px;
  border: 0px;
  box-shadow: 0 0 0px;
  webkit-box-shadow: 0 0 0px;
}

#header_wrap {
  background: center / cover url(../images/header-bg.jpg);
  border-bottom: solid 1px #212121;
}

#downloads {
  background: #262626;
  border-radius: 10px;
}

#footer_wrap {
  background: #E5E5E5;
}
