<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" href="{{ '/assets/css/style.scss' | relative_url }}">
    <title>Wizard Cleaning Simulator</title>
    {% seo %}
  </head>
  <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
          <img class="logo" src="{{ '/assets/images/logo-small.png' | relative_url }}" alt="Logo">
          <h1>Wizard Cleaning Simulator</h1>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>© 2025 3 Frog Studio</p>
      </footer>
    </div>
  </body>
</html>
