<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" href="{{ '/assets/css/style.scss' | relative_url }}">
    {% seo %}
  </head>
  <body>

    <div id="header_wrap" class="outer">
        <header class="inner custom-header-layout">
          <img class="header-logo-img" src="{{ '/assets/images/logo-small.png' | relative_url }}" alt="Logo">
          
          <a href="https://discord.gg/mFKzS7xkad" class="discord-link">
            <img src="{{ '/assets/images/disco.jpg' | relative_url }}" alt="Join Discord">
          </a>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="container" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>© 2025 3 Frog Studio</p>
      </footer>
    </div>
  </body>
</html>
